body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D4C5E2;
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.padding {
    background: black;
    position: relative;
    width: 40%;
}

.padding:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
}

.blank {
    background-color: #C9D7F8;
}

.first {
    background-color: #A7E2E3;
}


/* background:#D4C5E2 initial box:#C9D7F8 hover box:#A7E2E3 text:#914D76 final box:#4C6663   #80CFA9 */