body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D4C5E2;
    color: #7D4266;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

.greeting {
    text-align: center;
    font-size: 3.5em;
    transition: opacity 3s ease-in .2s;
}

.fadeout {
    opacity: 0;
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.padding {
    position: relative;
    border: 2px solid #4C6663;
    width: 40%;
    box-sizing: border-box;
}

.padding:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
}

button {
    background-color: #C9D7F8;
    border: 2px solid #4C6663;
    box-sizing: border-box;
    font-size: 1.25em;
    padding: .25em .5em;
    border-radius: .8em;
    align-self: flex-end;
    margin: 0 4em 0 0;
    color: #496260;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    transition: all 0.5s;
}

button:hover {
    background-color: #CDECFD;
}


/* background: #D4C5E2  text: #7D4266  sketchpad: #C9D7F8  pencil: #4C6663 */